      
{% extends 'kiosk_merchant_dash/base.html' %}
{% load static crispy_forms_tags humanize %}

{% block content %}
                <!-- content @s -->
                <div class="nk-content ">
                    <div class="container-fluid">
                        <div class="nk-content-inner">
                            <div class="nk-content-body">
                                <div class="nk-block-head">
                                    <div class="nk-block-between g-3">
                                        <div class="nk-block-head-content">
                                            <h3 class="nk-block-title page-title">Invoice <strong class="text-primary small">#{{ total.order_number }}</strong></h3>
                                            <div class="nk-block-des text-soft">
                                                <ul class="list-inline">
                                                    <li>Created At: <span class="text-base">{{ total.created_date }}</span></li>
                                                </ul>
                                            </div>
                                        </div>
                                       
                                    </div>
                                </div><!-- .nk-block-head -->
                                <div class="nk-block">
                                    <div class="invoice">
                                        <div class="invoice-action">
                                            <a class="btn btn-icon btn-lg btn-white btn-dim btn-outline-primary" href="{% url 'invoice' total.order_number %}" target="_blank"><em class="icon ni ni-printer-fill"></em></a>
                                        </div><!-- .invoice-actions -->
                                        <div class="invoice-wrap">
                                            <div class="container">
                                                <div class="row" style="font-size: 15px;">
                                                    <div class="col"><img src="{% if  business_profile.business_logo %}{{ business_profile.business_logo.url }} {% else %} https://test-server-space.nyc3.digitaloceanspaces.com/kroon-kiosk-test-static/Screenshot%202022-06-02%20at%201.11.41%20PM.png {% endif %}" alt="" srcset="" style="width:40%;"></div>
                                                    <div class="col">Invoice ID : <b>{{ total.order_number }}</b> <br> Date : <b>{{ total.created_date }}</b>   </div>
                                               
                                                    <div class="col">Business Name : <b>{{ request.user.merchant_business_name  }}</b> <br> Contact Number : <b>{{ business_profile.business_contact_number }}</b>  </div> <br>
                                                    <div class="col">Registeration Number : <b> {{ business_profile.business_registration_number }} </b> <br>Business Address : <b>{{ business_profile.business_address }}</b>  </div>
                                                    
                                                  
                                                </div>
                                               
                                              </div>
                                          <hr>
                                           
                                            <div class="invoice-bills">
                                                <div class="table-responsive">
                                                    <table class="table table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th class="w-150px">Item SKU</th>
                                                                <th class="w-60">Product Description</th>
                                                                <th>Price</th>
                                                                <th>Qty</th>
                                                                <th>Amount</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for s in sale%}

                                                            <tr>
                                                                <td>{{ s.product.product_sku }}</td>
                                                                <td>{{ s.product.product_name | title }}<br />
                                                                    {% if s.variation.all %}
                                                                        {% for v in s.variation.all %}
                                                                            {{ v.variations_category }} : {{ v.variation_value }} ,
                                                                        {% endfor %}
                                                                    {% endif %}</td>
                                                                <td>{{ s.product_price | intcomma }} {{ request.user.default_currency_id }}
                                                                    
                                                                </td>

                                                                {% if s.product.charge_by_weight %}
                                                                <td>{{ s.weight_quantity }} {{ s.weight_unit }}</td>
                                                                {% else %}
                                                                <td>{{ s.quantity }}</td>
                                                                {% endif %}

                                                                <td>{{ s.product_total_price | intcomma }} {{ request.user.default_currency_id }}</td>
                                                            </tr>
                                                            {% endfor %}
                                                        
                                                           
                                                        </tbody>
                                                        <tfoot>
                                                            {% if total.payment.payment_method == "cash_payment" %}
                                                            <tr>

                                                                <td colspan="2"></td>
                                                                <td colspan="2">Total Cash Collected </td>
                                                                <td>{{ total.payment.cash_collected }} {{ request.user.default_currency_id }}</td>
                                                            
                                                            </tr>
                                                            <tr>

                                                                <td colspan="2"></td>
                                                                <td colspan="2">Total Customers Change</td>
                                                                <td>{{ total.payment.customers_change }} {{ request.user.default_currency_id }}</td>

                                                            </tr>
                                                            {% endif %}
                                                            <tr>
                                                                
                                                                <td colspan="2"></td>
                                                                <td colspan="2">Payment Method</td>
                                                                <td>{{ total.payment.payment_method }}</td>
                                                                
                                                            </tr>
                                                            
                                                            <tr>
                                                                
                                                                <td colspan="2"></td>
                                                                <td colspan="2">Grand Total</td>
                                                                <td>{{ total.order_total | intcomma }}  {{ request.user.default_currency_id }}</td>
                                                                
                                                            </tr>
                                                        </tfoot>
                                                    </table>
                                                    <div class="nk-notes ff-italic fs-12px text-soft"> Invoice was created on a computer and is valid without the signature and seal. </div>
                                                </div>
                                            </div><!-- .invoice-bills -->
                                        </div><!-- .invoice-wrap -->
                                    </div><!-- .invoice -->
                                </div><!-- .nk-block -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- content @e -->
{% endblock %}
              