/*Color CSS File 
	===================
	Item Name: Sava - Creative pricing tables
	Author: Ashish Maraviya
	Version: 2.1
	Copyright 2021-2022
===================*/
/* Switcher general css start */
.Sava-switcher .Sava-switch {
  background: -webkit-gradient(linear, left top, right top, from(#ff9f0e), to(#ff4a10));
  background: linear-gradient(to right, #ff9f0e, #ff4a10);
  border: 1px solid #fff;
}

/* Switcher general css end */
/* Start Pricing plan style 1 */
.plan-style-1 .plan-header {
  background: -webkit-gradient(linear, left top, right top, from(#ff9f0e), to(#ff4a10));
  background: linear-gradient(to right, #ff9f0e, #ff4a10);
}
.plan-style-1 .plan-button {
  background-image: -webkit-gradient(linear, left top, right top, from(#ff9f0e), color-stop(#ff4a10), color-stop(#ff4a10), to(#ff9f0e));
  background-image: linear-gradient(to right, #ff9f0e, #ff4a10, #ff4a10, #ff9f0e);
}
.plan-style-1 .plan-list li i {
  color: #ff4a10;
}

/* End Pricing plan style 1 */
/* Start Pricing plan style 2 */
.plan-style-2:hover .price {
  color: #ff4a10;
}
.plan-style-2 .plan-button:hover {
  color: #ff4a10;
}
.plan-style-2 .plan-header {
  background: -webkit-gradient(linear, left top, right top, from(#ff9f0e), to(#ff4a10));
  background: linear-gradient(to right, #ff9f0e, #ff4a10);
}
.plan-style-2 .plan-bottom {
  background: -webkit-gradient(linear, left top, right top, from(#ff9f0e), to(#ff4a10));
  background: linear-gradient(to right, #ff9f0e, #ff4a10);
}

/* End Pricing plan style 2 */
/* Start Pricing plan style 3 */
.plan-style-3 .plan-header {
  background: -webkit-gradient(linear, left top, right top, from(#ff9f0e), to(#ff4a10));
  background: linear-gradient(to right, #ff9f0e, #ff4a10);
}
.plan-style-3 .plan-bottom {
  background: -webkit-gradient(linear, left top, right top, from(#ff9f0e), to(#ff4a10));
  background: linear-gradient(to right, #ff9f0e, #ff4a10);
}
.plan-style-3 .plan-list li i.far.fa-check-circle {
  color: #ff4a10;
}
.plan-style-3 .plan-button:hover {
  color: #ff4a10;
}

/* End Pricing plan style 3 */
/* Start Pricing plan style 4 */
.plan-style-4 .plan-header {
  border-bottom: 5px solid #ff4a10;
}
.plan-style-4 .plan-header .plan-label {
  background: -webkit-gradient(linear, left top, right top, from(#ff9f0e), to(#ff4a10));
  background: linear-gradient(to right, #ff9f0e, #ff4a10);
}
.plan-style-4 .plan-header .plan-icon {
  background: -webkit-gradient(linear, left top, right top, from(#ff9f0e), to(#ff4a10));
  background: linear-gradient(to right, #ff9f0e, #ff4a10);
}
.plan-style-4 .plan-price {
  background: -webkit-gradient(linear, left top, right top, from(#ff9f0e), to(#ff4a10));
  background: linear-gradient(to right, #ff9f0e, #ff4a10);
}
.plan-style-4:hover .plan-title {
  color: #ff4a10;
}
.plan-style-4 .plan-button {
  background-image: -webkit-gradient(linear, left top, right top, from(#ff9f0e), color-stop(#ff4a10), color-stop(#ff4a10), to(#ff9f0e));
  background-image: linear-gradient(to right, #ff9f0e, #ff4a10, #ff4a10, #ff9f0e);
}

/* End Pricing plan style 4 */
/* Start Pricing plan style 5 */
.plan-style-5 .plan-header .lable {
  background: -webkit-gradient(linear, left top, right top, from(#ff9f0e), to(#ff4a10));
  background: linear-gradient(to right, #ff9f0e, #ff4a10);
}
.plan-style-5 .plan-header .plan-icon {
  background: -webkit-gradient(linear, left top, right top, from(#ff9f0e), to(#ff4a10));
  background: linear-gradient(to right, #ff9f0e, #ff4a10);
}
.plan-style-5 .plan-price {
  background: -webkit-gradient(linear, left top, right top, from(#ff9f0e), to(#ff4a10));
  background: linear-gradient(to right, #ff9f0e, #ff4a10);
}
.plan-style-5:hover .plan-title {
  color: #ff4a10;
}
.plan-style-5 .plan-list li i.far.fa-check-circle {
  color: #ff4a10;
}
.plan-style-5 .plan-button {
  color: #ff4a10;
  border: 2px solid #ff4a10;
}