/*Color CSS File 
	===================
	Item Name: Sava - Creative pricing tables
	Author: Ashish Maraviya
	Version: 2.1
	Copyright 2021-2022
===================*/
/* Switcher general css start */
.Sava-switcher .Sava-switch {
  background: -webkit-gradient(linear, left top, right top, from(#00eefa), to(#05b6eb));
  background: linear-gradient(to right, #00eefa, #05b6eb);
  border: 1px solid #fff;
}

/* Switcher general css end */
/* Start Pricing plan style 1 */
.plan-style-1 .plan-header {
  background: -webkit-gradient(linear, left top, right top, from(#00eefa), to(#05b6eb));
  background: linear-gradient(to right, #00eefa, #05b6eb);
}
.plan-style-1 .plan-button {
  background-image: -webkit-gradient(linear, left top, right top, from(#00eefa), color-stop(#05b6eb), color-stop(#05b6eb), to(#00eefa));
  background-image: linear-gradient(to right, #00eefa, #05b6eb, #05b6eb, #00eefa);
}
.plan-style-1 .plan-list li i {
  color: #05b6eb;
}

/* End Pricing plan style 1 */
/* Start Pricing plan style 2 */
.plan-style-2:hover .price {
  color: #05b6eb;
}
.plan-style-2 .plan-button:hover {
  color: #05b6eb;
}
.plan-style-2 .plan-header {
  background: -webkit-gradient(linear, left top, right top, from(#00eefa), to(#05b6eb));
  background: linear-gradient(to right, #00eefa, #05b6eb);
}
.plan-style-2 .plan-bottom {
  background: -webkit-gradient(linear, left top, right top, from(#00eefa), to(#05b6eb));
  background: linear-gradient(to right, #00eefa, #05b6eb);
}

/* End Pricing plan style 2 */
/* Start Pricing plan style 3 */
.plan-style-3 .plan-header {
  background: -webkit-gradient(linear, left top, right top, from(#00eefa), to(#05b6eb));
  background: linear-gradient(to right, #00eefa, #05b6eb);
}
.plan-style-3 .plan-bottom {
  background: -webkit-gradient(linear, left top, right top, from(#00eefa), to(#05b6eb));
  background: linear-gradient(to right, #00eefa, #05b6eb);
}
.plan-style-3 .plan-list li i.far.fa-check-circle {
  color: #05b6eb;
}
.plan-style-3 .plan-button:hover {
  color: #05b6eb;
}

/* End Pricing plan style 3 */
/* Start Pricing plan style 4 */
.plan-style-4 .plan-header {
  border-bottom: 5px solid #05b6eb;
}
.plan-style-4 .plan-header .plan-label {
  background: -webkit-gradient(linear, left top, right top, from(#00eefa), to(#05b6eb));
  background: linear-gradient(to right, #00eefa, #05b6eb);
}
.plan-style-4 .plan-header .plan-icon {
  background: -webkit-gradient(linear, left top, right top, from(#00eefa), to(#05b6eb));
  background: linear-gradient(to right, #00eefa, #05b6eb);
}
.plan-style-4 .plan-price {
  background: -webkit-gradient(linear, left top, right top, from(#00eefa), to(#05b6eb));
  background: linear-gradient(to right, #00eefa, #05b6eb);
}
.plan-style-4:hover .plan-title {
  color: #05b6eb;
}
.plan-style-4 .plan-button {
  background-image: -webkit-gradient(linear, left top, right top, from(#00eefa), color-stop(#05b6eb), color-stop(#05b6eb), to(#00eefa));
  background-image: linear-gradient(to right, #00eefa, #05b6eb, #05b6eb, #00eefa);
}

/* End Pricing plan style 4 */
/* Start Pricing plan style 5 */
.plan-style-5 .plan-header .lable {
  background: -webkit-gradient(linear, left top, right top, from(#00eefa), to(#05b6eb));
  background: linear-gradient(to right, #00eefa, #05b6eb);
}
.plan-style-5 .plan-header .plan-icon {
  background: -webkit-gradient(linear, left top, right top, from(#00eefa), to(#05b6eb));
  background: linear-gradient(to right, #00eefa, #05b6eb);
}
.plan-style-5 .plan-price {
  background: -webkit-gradient(linear, left top, right top, from(#00eefa), to(#05b6eb));
  background: linear-gradient(to right, #00eefa, #05b6eb);
}
.plan-style-5:hover .plan-title {
  color: #05b6eb;
}
.plan-style-5 .plan-list li i.far.fa-check-circle {
  color: #05b6eb;
}
.plan-style-5 .plan-button {
  color: #05b6eb;
  border: 2px solid #05b6eb;
}