/*Color CSS File 
	===================
	Item Name: Sava - Creative pricing tables
	Author: Ashish Maraviya
	Version: 2.1
	Copyright 2021-2022
===================*/
/* Switcher general css start */
.Sava-switcher .Sava-switch {
  background: -webkit-gradient(linear, left top, right top, from(#ff729b), to(#ce002f));
  background: linear-gradient(to right, #ff729b, #ce002f);
  border: 1px solid #fff;
}

/* Switcher general css end */
/* Start Pricing plan style 1 */
.plan-style-1 .plan-header {
  background: -webkit-gradient(linear, left top, right top, from(#ff729b), to(#ce002f));
  background: linear-gradient(to right, #ff729b, #ce002f);
}
.plan-style-1 .plan-button {
  background-image: -webkit-gradient(linear, left top, right top, from(#ff729b), color-stop(#ce002f), color-stop(#ce002f), to(#ff729b));
  background-image: linear-gradient(to right, #ff729b, #ce002f, #ce002f, #ff729b);
}
.plan-style-1 .plan-list li i {
  color: #ce002f;
}

/* End Pricing plan style 1 */
/* Start Pricing plan style 2 */
.plan-style-2:hover .price {
  color: #ce002f;
}
.plan-style-2 .plan-button:hover {
  color: #ce002f;
}
.plan-style-2 .plan-header {
  background: -webkit-gradient(linear, left top, right top, from(#ff729b), to(#ce002f));
  background: linear-gradient(to right, #ff729b, #ce002f);
}
.plan-style-2 .plan-bottom {
  background: -webkit-gradient(linear, left top, right top, from(#ff729b), to(#ce002f));
  background: linear-gradient(to right, #ff729b, #ce002f);
}

/* End Pricing plan style 2 */
/* Start Pricing plan style 3 */
.plan-style-3 .plan-header {
  background: -webkit-gradient(linear, left top, right top, from(#ff729b), to(#ce002f));
  background: linear-gradient(to right, #ff729b, #ce002f);
}
.plan-style-3 .plan-bottom {
  background: -webkit-gradient(linear, left top, right top, from(#ff729b), to(#ce002f));
  background: linear-gradient(to right, #ff729b, #ce002f);
}
.plan-style-3 .plan-list li i.far.fa-check-circle {
  color: #ce002f;
}
.plan-style-3 .plan-button:hover {
  color: #ce002f;
}

/* End Pricing plan style 3 */
/* Start Pricing plan style 4 */
.plan-style-4 .plan-header {
  border-bottom: 5px solid #ce002f;
}
.plan-style-4 .plan-header .plan-label {
  background: -webkit-gradient(linear, left top, right top, from(#ff729b), to(#ce002f));
  background: linear-gradient(to right, #ff729b, #ce002f);
}
.plan-style-4 .plan-header .plan-icon {
  background: -webkit-gradient(linear, left top, right top, from(#ff729b), to(#ce002f));
  background: linear-gradient(to right, #ff729b, #ce002f);
}
.plan-style-4 .plan-price {
  background: -webkit-gradient(linear, left top, right top, from(#ff729b), to(#ce002f));
  background: linear-gradient(to right, #ff729b, #ce002f);
}
.plan-style-4:hover .plan-title {
  color: #ce002f;
}
.plan-style-4 .plan-button {
  background-image: -webkit-gradient(linear, left top, right top, from(#ff729b), color-stop(#ce002f), color-stop(#ce002f), to(#ff729b));
  background-image: linear-gradient(to right, #ff729b, #ce002f, #ce002f, #ff729b);
}

/* End Pricing plan style 4 */
/* Start Pricing plan style 5 */
.plan-style-5 .plan-header .lable {
  background: -webkit-gradient(linear, left top, right top, from(#ff729b), to(#ce002f));
  background: linear-gradient(to right, #ff729b, #ce002f);
}
.plan-style-5 .plan-header .plan-icon {
  background: -webkit-gradient(linear, left top, right top, from(#ff729b), to(#ce002f));
  background: linear-gradient(to right, #ff729b, #ce002f);
}
.plan-style-5 .plan-price {
  background: -webkit-gradient(linear, left top, right top, from(#ff729b), to(#ce002f));
  background: linear-gradient(to right, #ff729b, #ce002f);
}
.plan-style-5:hover .plan-title {
  color: #ce002f;
}
.plan-style-5 .plan-list li i.far.fa-check-circle {
  color: #ce002f;
}
.plan-style-5 .plan-button {
  color: #ce002f;
  border: 2px solid #ce002f;
}