
{% extends 'gov_panel/base.html' %}
{% load static crispy_forms_tags humanize %}

{% block content %}
            <!-- content @s -->
            <div class="nk-content ">
                <div class="container-fluid">
                    <div class="nk-content-inner">
                        <div class="nk-content-body">
                            <div class="nk-block">
                                <div class="card card-bordered">
                                    <div class="card-aside-wrap">
                                        <div class="card-inner card-inner-lg">
                                            <div class="nk-block-head nk-block-head-lg">
                                                <div class="nk-block-between">
                                                    <div class="nk-block-head-content">
                                                        <h4 class="nk-block-title">Workers Action Logs</h4>
                                                        <div class="nk-block-des">
                                                            <p>Here is the workers action logs. <span class="text-soft"><em class="icon ni ni-info"></em></span></p>
                                                        </div>
                                                    </div>
                                                    <div class="nk-block-head-content align-self-start d-lg-none">
                                                        <a href="#" class="toggle btn btn-icon btn-trigger mt-n1" data-target="userAside"><em class="icon ni ni-menu-alt-r"></em></a>
                                                    </div>
                                                </div>
                                            </div><!-- .nk-block-head -->
                                            <div class="nk-block card card-bordered">
                                                <table class="table table-ulogs">
                                                    <thead class="table-light">
                                                        <tr>
                                                            <th class="tb-col-os"><span class="overline-title">Worker Name <span class="d-sm-none"></span></span></th>
                                                            <th class="tb-col-ip"><span class="overline-title">Worker Email</span></th>
                                                            <th class="tb-col-ip"><span class="overline-title">Action</span></th>
                                                            <th class="tb-col-time"><span class="overline-title">Time</span></th>
                                                            <th class="tb-col-action"><span class="overline-title">&nbsp;</span></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        
                                                        {% for l in gov_action_logs %}
                                                        <tr>
                                                            <td class="tb-col-os">{{ l.user.name | title }}</td>
                                                            <td class="tb-col-os">{{ l.user.email }}</td>
                                                            <td class="tb-col-ip"><span class="sub-text">{{ l.action }}</span></td>
                                                            <td class="tb-col-time"><span class="sub-text">{{ l.created_date }} </span></td>
                                                           
                                                        </tr>
                                                        {% endfor %}
                                                        
                                                    </tbody>
                                                </table>
                                            </div><!-- .nk-block-head -->
                                        </div><!-- .card-inner -->
                                        
                                    </div><!-- card-aside-wrap -->
                                </div><!-- .card -->
                            </div><!-- .nk-block -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- content @e -->
{% endblock %}

              