
{% extends 'gov_panel/base.html' %}
{% load static crispy_forms_tags humanize %}

{% block content %}       <!-- content @s -->
 <!-- content @e -->
        <div class="nk-content ">
            <div class="container-fluid">
                <div class="nk-content-inner">
                    <div class="nk-content-body">
                        <div class="components-preview wide-md mx-auto">
                            <div class="nk-block-head nk-block-head-lg wide-sm">
                                <div class="nk-block-head-content">
                                
                                    <h2 class="nk-block-title fw-normal">{{ title }}</h2>
                                    <div class="nk-block-des">
                                        <p class="lead">{{ description }}</p>
                                    </div>
                                </div>
                            </div><!-- .nk-block-head -->
                            {% if messages %}
                            <div class="alert alert-pro alert-primary">
                                <div class="alert-text">
                                    <h6>Notification</h6>
                                    {% for message in messages %}
                                    <p>{{ message }}</p>
                                    {% endfor %}
                                </div>
                            </div>
                            {% endif %}
                            <div class="nk-block nk-block-lg">
                            
                                <div class="card card-bordered card-preview">
                                    <div class="card-inner">
                                        <form action="" method="post">
                                            {% csrf_token %}
                                        <div class="preview-block">
                                            <span class="preview-title-lg overline-title">{{ form_title }}</span>
                                            <div class="row gy-4">
                                                <div class="col-sm-11">
                                                    <div class="form-group">
                                                    {{ form |crispy }}
                                                    </div>
                                                </div>
                                            
                                            </div>
                                            <hr class="preview-hr">
                                            <div class="form-group">
                                                <button class="btn btn-lg btn-warning btn-block" type="submit">{{ submit_button }}</button>
                                            </div>
                                        </div>
                                    </form>
                                    </div>
                                </div><!-- .card-preview -->
                            
                            </div><!-- .nk-block -->
                        
                        </div><!-- .components-preview -->
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

 